
mixin oneItem(menuItem, currentIndex)
  -var itemClass = '', anchorVal = menuItem.url
  -if (menuItem.child)
    -itemClass = itemClass + ' nav-parent'
    -anchorVal = '#'
  li(class=itemClass)
    a(href=anchorVal)
      i.fa.fa-home
      span=menuItem.name
    -if(menuItem.child)
      ul.children
        each child, index in menuItem.child
          -if (hasRole(index, true, currentIndex))
            li
              a(href=child.url)
                i.fa.fa-caret-right
                | #{child.name}          

mixin sidemenu(navLinks)
  ul.nav.nav-pills.nav-stacked.nav-bracket
    each n, index in navLinks
      -if (hasRole(index))
        +oneItem(n, index)