.contentpanel(data-user-id="#{userData._id}")
    .row
        .col-sm-3
          -var proImg = userProfile.image || 'default-avatar.jpg'
          img.thumbnail.img-responsive.profile-img(src='/images/#{proImg}' , alt='')
          .mb30
          h5.subtitle About
          p.mb10.x-editable(data-type="textarea", data-name="summary")
            | #{userProfile.summary}
          a(href='#') Show More
          .mb10        
          h5.subtitle Connect
          ul.profile-social-list
            li
              i.fa.fa-twitter
              a.x-editable(href='#', data-type="text", data-name="twitter") #{userProfile.twitter}
            li
              i.fa.fa-facebook
              a.x-editable(href='#', data-type="text", data-name="facebook") #{userProfile.facebook}

          .mb30
          h5.subtitle Office Address
          address.x-editable(data-type="textarea", data-name="address", data-defaultValue="Address")
            | #{userProfile.address}
          -if (userData.account_type === 5)
            h5.subtitle State
            p.states-select(data-type="select", data-name="state")
              | #{userProfile.state}
            h5.subtitle Local Govt Area
            p.lga-select(data-type="select", data-name="lga")
              | #{userProfile.lga}
          h5.subtitle Telephone
          p.x-editable(title='Phone', data-type="text", data-name="phone", data-default-value="Your Phone Number")
            | #{userProfile.phone}

          -if (isPermitted(['view-profile-distributors']))
            .mb20    
            .panel.panel-default
                .panel-body
                  a(href="#")
                    | {{workForce[2].length}} Distributors 
          -if (isPermitted(['view-profile-managers']))
            .mb20    
            .panel.panel-default
                .panel-body
                  a(href="#")
                    | {{workForce[1].length + workForce[3].length}} Managers
          -if (isPermitted(['view-profile-staff']))
            .mb20    
            .panel.panel-default
                .panel-body
                  a(href="#")
                    | {{workForce[4].length}} Staff
        //
           col-sm-3 
        .col-sm-9
          .profile-header
            h2.profile-name.x-editable(data-name="name", data-type="text", data-default-value="Full Name or Company Name") #{userProfile.name}
            - if (isPermitted(['coverage']))
              .profile-location
                span(style="display: block", title="Your Coverage / Territory") 
                  i.fa.fa-map-marker
                  | Coverage
                span(data-type="text", data-name="coverage", data-default-value="Territory")
                  | #{userProfile.coverage}
            - if (isPermitted(['employer']))
              .profile-position
                i.fa.fa-briefcase
                span.x-editable(data-name="position", data-type="text", title="Position", data-default-value="Position") #{userProfile.position} 
                span(style="margin: 0 2px;") at 
                a(href='/a/organization/people/#{userProfile.employer.userId}/staff/2', data-type="text", data-name="employer", title="Employer", data-default-value="Employer") #{userProfile.employer.name} 
            - if (isPermitted(['manager']))
              .profile-position
                span(style="margin: 0 2px;") under 
                a(href='/a/organization/people/#{userProfile.manager.userId}/staff/3', data-type="text", data-name="employer", title="Employer", data-default-value="Employer") #{userProfile.manager.name} 
            .mb20
            - if (isPermitted(['place-order']))
              a.btn.btn-white
                i.fa.fa-envelope-o
                | Order              
            button.btn.btn-success.mr5.start-edit
              i.fa.fa-user
              | Edit Profile
            - if (isPermitted(['messaging']))
              button.btn.btn-white
                i.fa.fa-envelope-o
                | Message
          //
             profile-header 
          //
             Nav tabs 
          ul.nav.nav-tabs.nav-justified.nav-profile
            -if (isPermitted(['view-activity']))
              li.active
                a(href="#", data-target='#activities', data-toggle='tab')
                  strong Activities
            -if (isPermitted(['view-drug-pages']))
              li
                a(href="#", data-target='#drug-pages', data-toggle='tab')
                  strong Drug Pages
            -if (isPermitted(['view-calendar']))
              li
                a(href="#", data-target='#calendar', data-toggle='tab')
                  strong Calendar
            -if (isPermitted(['view-prospects']))
              li
                a(href="#", data-target='#prospects', data-toggle='tab')
                  strong Prospects
            -if (isPermitted(['view-map']))
              li
                a(href="#", data-target='#prospects', data-toggle='tab')
                  strong Map
          //
             Tab panes 
          .tab-content
            include ../widgets/profile/activity
            +loadActivities()

            include ../widgets/profile/drug-pages
            +loadDrugPages()

            include ../widgets/profile/calendar
            +loadCalendar()

            include ../widgets/profile/prospects
            +loadProspects()
            

append scripts
script(src='/js/jquery.prettyPhoto.js')
script(src='/js/holder.js')
script(src="/js/modules/user/profile.js")
